<div class="menustyle">
    <md-toolbar color="accent">
        <span>Hey hey!</span>
    </md-toolbar>
    <div class="centered">
        <button md-raised-button class="mybutton" (click)="startLogin()">
            <md-icon>person</md-icon>
            Login
        </button>
    </div>
    <div class="centered">
        <button md-raised-button class="mybutton">
            <md-icon>person_add</md-icon>
            Register
        </button>
    </div>
    <div class="centered">
        <button md-raised-button class="mybutton" (click)="googleLogin()">
            <md-icon>person</md-icon>
            Login with Google
        </button>
    </div>
</div>
