<md-toolbar color="accent">
    Login time!
</md-toolbar>
<form (ngSubmit)="onClick()">
    <div class="extraMargin">
        <md-input-container color="accent">
            <input md-input [(ngModel)]="login" placeholder="email" name="login">
        </md-input-container>
        <md-input-container color="accent">
            <input md-input [(ngModel)]="password" placeholder="password" name="password">
        </md-input-container>
    </div>
    <div class="centered">
        <button md-raised-button color="primary">Login</button>
    </div>
</form>
