<md-sidenav-container class="mythingy">
    <md-sidenav #sidenav mode="push">
        <app-sidemenu></app-sidemenu>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-button (click)="sidenav.open()"><md-icon>menu</md-icon></button>
        {{title}}
    </md-toolbar>
    <md-list>
        <md-list-item class="text" *ngFor="let char of characters | async">
            {{char.$value}}
        </md-list-item>
    </md-list>

    <app-char-builder></app-char-builder>
</md-sidenav-container>
